Repository aeternity/aeternity, pull requests merged in 2019-12, with the labels that each got.

#3046 Add throughput test for aec_chain_state:insert_block
  apps/aecore/test/aec_block_key_candidate_tests.erl
  apps/aecore/test/aec_chain_state_tests.erl
  apps/aecore/test/aec_db_tests.erl
  apps/aecore/test/aec_test_utils.erl
Labels: area/tests

#3058 Updated reference to aestratum_client to include aeminer update
  rebar.config
Labels: area/build-system, kind/improvement

#2999 New transaction - PayingForTx
  .circleci/config.yml
  apps/aechannel/src/aesc_utils.erl
  apps/aecore/src/aec_governance.erl
  apps/aecore/src/aec_paying_for_tx.erl
  apps/aega/test/aega_SUITE.erl
  apps/aehttp/test/aehttp_contracts_SUITE.erl
  apps/aehttp/test/aehttp_ga_SUITE.erl
  apps/aeprimop/src/aeprimop.erl
  apps/aetx/src/aetx.erl
  apps/aetx/src/aetx_env.erl
  rebar.config
  rebar.lock
Labels: area/core, kind/feature

#3059 Add throughput test for aec_chain_state:insert_block (micro blocks)
  apps/aecore/test/aec_chain_state_tests.erl
  apps/aecore/test/aec_db_tests.erl
  apps/aecore/test/aec_test_utils.erl
Labels: area/tests

#3060 Remove duplicate check for block presence in DB
  apps/aecore/src/aec_conductor.erl
Labels: area/core, kind/cleanup

#3044 Gh3009 swagger validation
  apps/aehttp/test/aehttp_spec_SUITE.erl
Labels: area/tests

#3071 Adds new metrics to ae.epoch.aemon namespace
  apps/aemon/src/aemon_config.erl
  apps/aemon/src/aemon_metrics.erl
  apps/aemon/src/aemon_mon.erl
  apps/aemon/src/aemon_mon_gen_stats.erl
  apps/aemon/src/aemon_mon_on_chain.erl
  apps/aemon/src/aemon_mon_ttl.erl
  apps/aemon/src/aemon_sup.erl
  docs/monitoring.md
Labels: area/metrics, kind/feature

#3078 Add changelog entry for new metrics
  docs/release-notes/next/add_metrics.md
Labels: release

#3082 Reduce histogram timespan for micro-block metrics
  apps/aemon/src/aemon_metrics.erl
Labels: kind/cleanup, release

#3084 Fix osx package builds
  .circleci/config.yml
Labels: release

#3087 Always use default peers
  apps/aecore/src/aec_sync.erl
  docs/release-notes/next/always_use_default_peers.md
Labels: release

#3074 Make peer pool params configurable
  apps/aecore/src/aec_peer_connection.erl
  apps/aecore/src/aec_peers.erl
  apps/aecore/src/aec_peers_pool.erl
  apps/aecore/test/aec_peers_pool_tests.erl
  apps/aeutils/priv/aeternity_config_schema.json
  apps/aeutils/test/data/epoch_full.yaml
  docs/release-notes/next/GH-3017-dead-peers.md
Labels: area/core, kind/improvement, release

#3085 Change order of process start/stop for aec_tx_pool and its GC
  apps/aecore/src/aecore_sup.erl
Labels: area/tests, kind/bug

#3076 Update default `max_update_lapse` and `select_verified_peer_probability`
  apps/aecore/src/aec_peers_pool.erl
  apps/aeutils/priv/aeternity_config_schema.json
  apps/aeutils/test/data/epoch_full.yaml
  docs/release-notes/next/GH-3017-dead-peers.md
Labels: area/core, kind/improvement, release

#3094 Added new metrics to cover more block and transaction information
  apps/aecore/priv/exometer_predefined.script
  apps/aecore/src/aec_chain_state.erl
  apps/aecore/src/aec_metrics.erl
  apps/aemon/src/aemon_metrics.erl
  apps/aemon/src/aemon_mon.erl
  apps/aemon/src/aemon_mon_gen_stats.erl
  apps/aemon/src/aemon_mon_on_chain.erl
  docs/monitoring.md
  docs/release-notes/next/add_metrics_block_execution.md
Labels: area/metrics, kind/feature
