Repository aeternity/aeternity, pull requests merged in 2020-02, with the labels that each got.

#3144 Increase timeout for aec_tx_pool:top_change
  apps/aecore/src/aec_tx_pool.erl
Labels: area/core, kind/improvement

#2897 Added garbage collector for account state nodes
  apps/aechannel/src/aesc_fsm.erl
  apps/aecore/src/aec_accounts_trees.erl
  apps/aecore/src/aec_conductor.erl
  apps/aecore/src/aec_db.erl
  apps/aecore/src/aec_db_gc.erl
  apps/aecore/src/aec_dry_run.erl
  apps/aecore/src/aecore_sup.erl
  apps/aecore/test/aec_db_gc_SUITE.erl
  apps/aecore/test/aecore_suite_utils.erl
  apps/aetx/src/aetx_env.erl
  apps/aeutils/priv/aeternity_config_schema.json
  apps/aeutils/src/aeu_mp_trees.erl
  apps/aeutils/src/aeu_mtrees.erl
  docs/release-notes/next/GH-2845-accounts-state-gc.md
Labels: area/core, area/db, kind/feature, status/wip

#3143 Preclaim TTL is 0 in FATE
  apps/aecontract/test/aecontract_SUITE.erl
  apps/aefate/src/aefa_chain_api.erl
  apps/aefate/src/aefa_fate_op.erl
  docs/release-notes/next-iris/AENS_sophia.md
Labels: area/fate, kind/bug

#3146 Aesophia/gh 202 auth tx introspection
  apps/aechannel/src/aesc_close_mutual_tx.erl
  apps/aechannel/src/aesc_close_solo_tx.erl
  apps/aechannel/src/aesc_settle_tx.erl
  apps/aechannel/src/aesc_slash_tx.erl
  apps/aechannel/src/aesc_snapshot_solo_tx.erl
  apps/aecontract/test/aecontract_SUITE.erl
  apps/aecore/src/aec_dry_run.erl
  apps/aefate/src/aefa_fate_op.erl
  apps/aega/src/aega_meta_tx.erl
  apps/aega/test/aega_SUITE.erl
  apps/aehttp/priv/swagger.yaml
  apps/aehttp/test/aehttp_dryrun_SUITE.erl
  apps/aens/src/aens_revoke_tx.erl
  apps/aens/src/aens_transfer_tx.erl
  apps/aens/src/aens_update_tx.erl
  apps/aetx/src/aetx.erl
  apps/aetx/src/aetx_env.erl
  rebar.config
  rebar.lock
  test/contracts/tx_auth.aes
Labels: area/fate, breaking/consensus, kind/feature

#3147 FSM produces force progress
  apps/aechannel/src/aesc_force_progress_tx.erl
  apps/aechannel/src/aesc_fsm.erl
  apps/aechannel/src/aesc_fsm.hrl
  apps/aechannel/src/aesc_offchain_state.erl
  apps/aechannel/src/aesc_offchain_update.erl
  apps/aechannel/test/aesc_fsm_SUITE.erl
  apps/aecontract/src/aect_state_tree.erl
  apps/aecore/src/aec_tx_pool.erl
  apps/aehttp/src/sc_ws_api.erl
  apps/aehttp/src/sc_ws_api_jsonrpc.erl
  apps/aehttp/test/aehttp_sc_SUITE.erl
  apps/aehttp/test/aehttp_ws_test_utils.erl
  apps/aevm/src/aevm_ae_primops.erl
Labels: area/statechannels, kind/feature

#3148 GH-3006 Fix compiler version "unknown"
  apps/aechannel/src/aesc_utils.erl
  apps/aecontract/src/aect_channel_contract.erl
  apps/aecontract/src/aect_sophia.erl
  apps/aecontract/test/aecontract_SUITE.erl
  apps/aeprimop/src/aeprimop.erl
  docs/release-notes/next-iris/GH-3006-compiler_version_unknown.md
Labels: area/core, kind/bug

#3115 Remove v2/contracts/{hash}/store endpoint
  apps/aehttp/priv/swagger.yaml
  apps/aehttp/src/aehttp_dispatch_ext.erl
  apps/aehttp/test/aehttp_integration_SUITE.erl
  docs/release-notes/next/disable_contracts_store_api.md
Labels: area/api, kind/bug
