Repository aeternity/aeternity, pull requests merged in 2020-03, with the labels that each got.

#3161 Make aeoracle_SUITE mock cleanup more generic. closes #3160
  apps/aecontract/test/aecontract_SUITE.erl
  apps/aecore/test/aec_eunit_SUITE.erl
  apps/aecore/test/aec_test_utils.erl
  apps/aens/test/aens_SUITE.erl
  apps/aeoracle/test/aeoracle_SUITE.erl
Labels: area/oracle

#3098 Uw chain watcher rewrite
  apps/aechannel/src/aesc_chain_watcher.erl
  apps/aechannel/src/aesc_chain_watcher_support.erl
  apps/aechannel/src/aesc_fsm.erl
  apps/aechannel/src/aesc_fsm.hrl
  apps/aechannel/src/aesc_state_cache.erl
  apps/aechannel/src/aesc_sup.erl
  apps/aechannel/src/aesc_window.erl
  apps/aechannel/test/aesc_chain_watcher_SUITE.erl
  apps/aechannel/test/aesc_fsm_SUITE.erl
  apps/aecore/src/aec_events.erl
  apps/aeutils/include/aeu_stacktrace.hrl
Labels: area/statechannels

#2719 Readded intersperse and foldr test
  test/contracts/stdlib_tests.aes
Labels: area/core, area/tests, kind/improvement, status/wip

#3045 Remove python tests
  .circleci/config.yml
  .circleci/windows/test.cmd
  Makefile
  py/Makefile
  py/README.md
  py/requirements-win32.txt
  py/requirements.txt
  py/tests/integration/__init__.py
  py/tests/integration/aesophia_cli
  py/tests/integration/aesophia_cli.README
  py/tests/integration/common.py
  py/tests/integration/counter.aes
  py/tests/integration/identity.aes
  py/tests/integration/keys.py
  py/tests/integration/setup.yaml
  py/tests/integration/test_api_usage_contracts_counter.rst
  py/tests/integration/test_api_usage_contracts_counter_fixtures.py
  py/tests/integration/test_contracts.py
  py/tests/integration/test_spend_tx.py
  py/tests/integration/test_unsigned_tx.py
  py/tests/integration/test_use_cases.py
  py/tests/nose.cfg
  py/tests/package_win32.py
  py/tests/peer_keys/node1/peer_key
  py/tests/peer_keys/node1/peer_key.pub
  py/tests/peer_keys/node2/peer_key
  py/tests/peer_keys/node2/peer_key.pub
  py/tests/peer_keys/node3/peer_key
  py/tests/peer_keys/node3/peer_key.pub
  py/tests/release.py
  py/tests/sign_keys/dev1/sign_key
  py/tests/sign_keys/dev1/sign_key.pub
  scripts/windows/msys2_prepare.bat
Labels: area/tests

#3175 Add additional link to wiki for ulimit issues
  hooks/pre_start.sh
Labels: area/docs

#3182 Release 5.5.0
  VERSION
  apps/aehttp/priv/swagger.yaml
  docs/release-notes/RELEASE-NOTES-5.5.0.md
  docs/release-notes/next/GH-2845-accounts-state-gc.md
  docs/release-notes/next/GH-2939_sc_gas_price.md
  docs/release-notes/next/GH-3122-propagate-only-verified-peers.md
  docs/release-notes/next/GH-3134-add-tcp-connection-check-unverified-peers.md
  docs/release-notes/next/GH-3137-decrease-default-max_update_lapse.md
  docs/release-notes/next/disable_contracts_store_api.md
Labels: area/release

#3187 Whitepaper contract
  apps/aecontract/test/aect_test_utils.erl
  apps/aehttp/test/aehttp_sc_SUITE.erl
  apps/aehttp/test/aehttp_whitepaper_SUITE.erl
  test/contracts/channel_whitepaper_example.aes
  test/contracts/oracle_register_response.aes
Labels: area/docs, area/fate, area/statechannels, area/tests, community, status/approved
