Repository aeternity/aeternity, pull requests merged in 2020-01, with the labels that each got.

#3095 Added metrics providing contract data
  apps/aecontract/src/aect_contracts_store.erl
  apps/aecontract/test/aect_test_utils.erl
  apps/aecore/priv/exometer_defaults.script
  apps/aecore/src/aec_metrics.erl
  apps/aecore/src/aecore.app.src
  apps/aemon/src/aemon_metrics.erl
  apps/aemon/src/aemon_mon_on_chain.erl
  apps/aeprimop/src/aeprimop.erl
  apps/aetx/src/aetx.erl
  docs/monitoring.md
  docs/release-notes/next/add_metrics_block_execution.md
  docs/release-notes/next/add_metrics_contract_calls.md
Labels: area/metrics, kind/feature

#3102 Improve agree_on_height in sync
  apps/aecore/src/aec_sync.erl
  docs/release-notes/next/fix_sync_issue.md
Labels: area/core, kind/improvement

#3103 Improve default ERTS configuration
  config/dev1/vm.args
  config/dev2/vm.args
  config/dev3/vm.args
  config/vm.args
  docs/release-notes/next/GH-3101-improve-vmargs.md
Labels: kind/improvement

#3112 Disable contract size metric
  apps/aeprimop/src/aeprimop.erl
  docs/release-notes/next/disable-contract-size-metric.md
Labels: area/core, kind/bug

#3077 Gh 2939 sc gas price
  apps/aechannel/src/aesc_fsm.erl
  apps/aehttp/src/sc_ws_api_jsonrpc.erl
  apps/aehttp/src/sc_ws_handler.erl
  apps/aehttp/test/aehttp_sc_SUITE.erl
  docs/release-notes/next/GH-2939_sc_gas_price.md
Labels: area/statechannels, kind/feature

#3090 Check max number of gossiped peers
  apps/aecore/src/aec_peer_connection.erl
Labels: area/core, kind/bug

#3123 Select random peers from verified pool instead of all peers
  apps/aecore/src/aec_peers_pool.erl
  apps/aecore/test/aec_peers_pool_tests.erl
  apps/aecore/test/aec_peers_tests.erl
Labels: area/core, kind/improvement

#3125 Add release notes
  docs/release-notes/next/GH-3122-propagate-only-verified-peers.md
Labels: area/core

#3135 Add TCP connection check of unverified peers
  apps/aecore/src/aec_peer_connection.erl
  apps/aecore/src/aec_peers.erl
  apps/aecore/src/aec_peers_pool.erl
  apps/aecore/test/aec_peers_tests.erl
  docs/release-notes/next/GH-3134-add-tcp-connection-check-unverified-peers.md
Labels: area/core, kind/feature

#3138 Decrease default max_update_lapse
  apps/aecore/src/aec_peers_pool.erl
  apps/aeutils/priv/aeternity_config_schema.json
  apps/aeutils/test/data/epoch_full.yaml
  docs/release-notes/next/GH-3137-decrease-default-max_update_lapse.md
Labels: area/core, kind/improvement
